.outerDiv{
    display: block;
    width: 100%;
    height : 100vh;
    background-color: #bebebe;
    margin: 0px;
    border: 0px;
}

.nomarg{
    margin : 0px;
    border : 0px;
    padding : 0px;
}

.centerForm .text1{
    margin-top: 20px;
    font-size: 20px;
}

.filterBox{
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 50px;
}

.searchButton{
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 50px;
    border: 2px solid black;
    background-color: #232323;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    border-color: #f44336;
    color: green;
}

.searchButton:hover {
    background: #43f436;
  color: #232323;
}

.centerForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.filterBar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row;
    background-color: #dddddd;
}

h1 {
    font-size: 60px;
}

.back{
    float: left;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.blu {
    border-color: #2196F3;
    color: dodgerblue;
}

.blu:hover {
    background: #2196F3;
    color: white;
}
.mainButton{
    border: none;
    background-color: #888888;
    font-size: 10px;
}